<div style="margin: 5px;">
    @(Html.Awe().Grid("MealsGrid" + ViewData["Id"]) // please note, you need to have unique html ids
        .Url(Url.Action("MealsGrid", "CascadingGridDemo"))
        .Columns(
        new Column { Bind = "Id", Width = 50 },
        new Column { Bind = "Name", Width = 150 },
        new Column { Bind = "Description" })
        .Resizable()
        .Parameter("categories", ViewData["Id"]))
</div>
